.product-discount-tag {
    width: 15px;
    height: 10px;
    border-style: solid;
    border-width: 0 45px 45px 0;
    border-color: transparent #DC4C64 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
}

.product-discount-tag-logo {
    position: absolute;
    left: 16px;
    top: 5px;
}

.product-information-tag {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #9a9ea180 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
}

.product-information-tag-logo {
    position: absolute;
    left: 19px;
    top: 3px;
}

