 .card { border-radius: 10px; box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
          overflow: hidden;
           transition: transform 0.5s, box-shadow 5s;
               width: 300px;
           margin: 20px;
       }
  .card:hover {
       transform: translateY(-10px);
       box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   }